<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/fragment::header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div th:replace="fragment/fragment::spinner"></div>
<nav th:replace="fragment/fragment::sidebar"></nav>

<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">CLASS</h6>
            <!-- <h1 class="mb-5">Learning Class</h1> -->
        </div>
        <div class="row g-4 justify-content-center">
            <div th:each="users : ${eclass}" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <!-- <img style="width: 336px; height: 170px;" class="img-fluid"  th:src="'data:image/jpeg;base64,' + ${users.image}" alt=""> -->
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                               style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
                               style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <!-- <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">$149.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>(123)</small>
                        </div> -->
                    <h5 class="mb-4" th:text="${users.name}"></h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-user-tie text-primary me-2"></i></small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-clock text-primary me-2"></i></small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i></small>
                </div>
                <a th:href="@{/lesson(id = ${users.id})}" class="text-primary">Learning</a> <br>
                <a th:href="@{/examclass(id = ${users.id})}" class="text-info" th:if="${rolelogin}==STUDENT">Exam</a>
                <a th:href="@{/schedulestudent(role='lct',idClass=${users.id})}" class="text-info"
                   th:if="${rolelogin}==LECTURER">Teaching Schedule</a>
            </div>
        </div>
    </div>
</div>

<!-- Courses End -->

<div th:replace="fragment/fragment::footer"></div>
<div th:replace="fragment/fragment::script"></div>
</body>

</html>