<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragment/fragments::header}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!--Sidebar-->
        <ul th:replace="~{fragment/fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragment/fragments::topbar}"></nav>
                <!-- End of Topbar -->

                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    th:action="@{/search-course/0}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            name="keyword" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Begin Page Content -->
                <button type="button" class="btn btn-primary addcourse" data-toggle="modal" data-target="#"
                    data-whatever="@mdo">Add new course
                </button>
                <p th:if="${size == 0}">No course</p>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}">
                    </p>
                </div>
                <div th:if="${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>

                <table class="table table-striped danhMucTable" th:if="${size > 0}">
                    <thead>
                        <tr>
                            <th scope="col">Course Index</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Course Image</th>
                            <th scope="col">Action</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr th:each="users : ${courses}">
                    <th scope="row" th:text="${users.id}"></th>
                    <td th:text="${users.name}"></td>
                    <td>
                        <img class="my-product-image" style="height: 40px; width: 40px;" alt=""
                            th:src="'data:image/jpeg;base64,' + ${users.image}">
                    </td>
                    <td>
                        <a th:href="@{/update-course/{id}(id= ${users.id})}" class="btn btn-primary">Update</a>
                    </td>
                    <td>
                        <a th:if="${users.id} == true" th:href="@{/enable-users(id = ${users.id})}"
                            class="btn btn-primary">Enable</a>
                        <a th:href="@{/delete-course(id = ${users.id})}" class=" btn btn-danger">Delete</a>

                    </td>
                </tr> -->
                    </tbody>
                </table>

                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{fragment/fragments::footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragment/fragments::scroll}"></a>

    <!--Add Categories Modal-->
    <div class="modal fade" id="exampleAddCategoryModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleAddCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleAddCategoryModalLabel">New Course</h5>
                </div>
                <div class="modal-body">
                    <form class="addForCourse">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Course Name:</label>
                            <input type="text" class="form-control" id="name" name="name">

                        </div>
                        <div class="form-group">
                            <input type="text" style="display: none;" class="form-control" id="id" name="id">
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="image"> IMAGE</label>
                                    <div class="col-md-4">
                                        <input id="imageCourse" name="imageCourse" class="input-file" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btnSaveCourse">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--End-->


    <!-- End -->
    <!-- Bootstrap core JavaScript-->
    <div th:replace="~{fragment/fragments::script}"></div>

    <script th:src="@{/js/categories.js}"></script>
    <script>
        $(document).ready(function () {
            ajaxGet();


            function ajaxGet() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8888/api/course/",
                    success: function (result) {
                        $.each(result, function (i, course) {
                            var CourseRow = '<tr style="text-align: center;">' +
                                '<td width="20%">' + course.id + '</td>' +
                                '<td>' + course.name + '</td>' +
                                '<td>' + '<img class="my-course-image" style="height: 40px; width: 40px;">' + '</td>' +
                                '<td>' + '<input type="hidden" value=' + course.id + '>'
                                + '<button class="btn btn-primary updateCourse" >Cập nhật</button>' +
                                '   <button class="btn btn-danger deleteCourse">Xóa</button></td>'
                            '</tr>';
                            // Tạo chuỗi base64 URL cho hình ảnh
                            var $CourseRow = $(CourseRow); // Tạo một đối tượng jQuery từ chuỗi HTML

                            var dataURI = 'data:image/jpeg;base64,' + course.image; // Đường dẫn base64 của ảnh

                            $CourseRow.find('.my-course-image').attr('src', dataURI); // Đặt dữ liệu base64 vào thuộc tính src của phần tử <img>
                            $('.danhMucTable tbody').append($CourseRow);
                        });

                    },
                    error: function (e) {
                        alert("Error: ", e);
                        console.log("Error", e);
                    }
                });
            };

            $(document).on('click', '.addcourse', function (event) {
                event.preventDefault();
                $('#exampleAddCategoryModal').modal();

                $('.btnUpdateCourse').removeClass('btnUpdateCourse').addClass('btnSaveCourse');
                $('#id').val('');
                $('#name').val('');
            });

            $(document).on('click', '.btnSaveCourse', function (event) {
                event.preventDefault();
                console.log("hello");
                ajaxPost();
            });
            function ajaxPost() {
                var formData = new FormData($('.addForCourse')[0]);
                console.log(formData)
                $.ajax({

                    type: "POST",
                    contentType: false,
                    url: "http://localhost:8888/api/course/save",
                    enctype: "multipart/form-data",
                    data: formData,
                    processData: false,
                    success: function (reponse) {
                         window.location.reload();
                        alert("Add success");

                    },
                    error: function (e) {
                        alert("Error");

                    }

                });
            };

            $(document).on('click', '.updateCourse', function (event) {
                event.preventDefault();

                var id = $(this).parent().find('input').val();

                var href = "http://localhost:8888/api/course/" + id;
                console.log(id + href);
                $.get(href, function (course, status) {
                    $('#id').val(course.id);
                    $('#name').val(course.name);
                })
                $('#exampleAddCategoryModal').modal();
                $('.btnSaveCourse').removeClass('btnSaveCourse').addClass('btnUpdateCourse');
            });

            $(document).on('click', '.deleteCourse', function () {


                var id = $(this).parent().find('input').val();

                var href = "http://localhost:8888/api/course/delete/" + id;
                var confirmDelete = confirm("Are you sure to delete the course?");
                if (confirmDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: href,
                        success: function () {
                            window.location.reload();
                            alert("Delete Success");

                        },
                        error: function () {
                            alert("Delete Faiil");
                        }
                    });
                }

            });
            $(document).on('click', '.btnUpdateCourse', function (event) {
                event.preventDefault();
                ajaxPut();

            })

            function ajaxPut() {
                var formData = new FormData($('.addForCourse')[0]);
                console.log(formData)
                $.ajax({

                    type: "PUT",
                    contentType: false,
                    url: "http://localhost:8888/api/course/update",
                    enctype: "multipart/form-data",
                    data: formData,
                    processData: false,
                    success: function (reponse) {
                        window.location.reload();
                        alert("Update success");

                    },
                    error: function (e) {
                        alert("Error");

                    }

                });
            };
        })

    </script>
</body>

</html>