<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragment/fragments::header}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!--Sidebar-->
        <ul th:replace="~{fragment/fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragment/fragments::topbar}"></nav>
                <!-- End of Topbar -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    th:action="@{/search-level/0}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            name="keyword" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Begin Page Content -->
                <button type="button" class="btn btn-primary addlevel" data-toggle="modal" data-target="#"
                    data-whatever="@mdo">Add new level
                </button>
                <p th:if="${size == 0}">No level</p>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}">
                    </p>
                </div>
                <div th:if="${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>

                <table class="table table-striped danhMucTable" th:if="${size > 0}">
                    <thead>
                        <tr>
                            <th scope="col">Level Index</th>
                            <th scope="col">Level Name</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Action</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr th:each="users : ${level}">
                    <th scope="row" th:text="${users.id}"></th>
                    <td th:text="${users.name}"></td>
                    <td th:text="${users.course.name}"></td>
                    <td>
                        <a th:href="@{/update-level/{id}(id= ${users.id})}" class="btn btn-primary">Update</a>
                    </td>
                    <td>
                        <a th:if="${users.id} == true" th:href="@{/enable-users(id = ${users.id})}"
                           class="btn btn-primary">Enable</a>
                        <a th:href="@{/delete-level(id = ${users.id})}"
                           class=" btn btn-danger">Delete</a>
                    </td>
                </tr> -->
                    </tbody>
                </table>

                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{fragment/fragments::footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragment/fragments::scroll}"></a>

    <!--Add Categories Modal-->
    <div class="modal fade" id="exampleAddCategoryModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleAddCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleAddCategoryModalLabel">New level</h5>
                </div>

                <div class="modal-body">
                    <form class="addForLevel">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Level Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                            <input type="text" style="display: none;" class="form-control" id="id" name="id">
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <!-- File Button -->
                                <label for="name" class="col-form-label">Course:</label>
                                <select id="course" name="course" class="form-control">
                                    <option th:value="null">-SELECT-</option>
                                    <option th:each="category : ${course}" th:value="${category.id}"
                                        th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btnSaveLevel">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--End-->

    <!-- Edit Category Modal
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/update-category}" method="put">
                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">ID
                        </label> <input type="text" class="form-control" id="idEdit" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Category
                            Name</label> <input type="text" class="form-control" id="nameEdit" name="name">
                    </div>
                    <button type="submit" class="btn btn-primary btnSaveLevel">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
    <!-- End -->
    <!-- Bootstrap core JavaScript-->
    <div th:replace="~{fragment/fragments::script}"></div>

    <script th:src="@{/js/categories.js}"></script>
    <script>
        $(document).ready(function () {
            ajaxGet();
            function ajaxGet() {

                $.ajax({
                    type: "GET",
                    url: "http://localhost:8888/api/level/",
                    success: function (result) {
                        console.log(result);
                        $.each(result, function (i, level) {
                          
                            var LevelRow = '<tr style="text-align: center;">' +
                                '<td width="20%">' + level.id + '</td>' +
                                '<td>' + level.name + '</td>' +
                                '<td>' + level.course.name + '</td>' +
                                '<td>' + '<input type="hidden" value=' + level.id + '>'
                                + '<button class="btn btn-primary updateLevel" >Cập nhật</button>' +
                                '   <button class="btn btn-danger deleteLevel">Xóa</button></td>'
                            '</tr>';

                            $('.danhMucTable tbody').append(LevelRow);
                        });
                    },
                    error: function (e) {
                        alert("Error: ", e);
                        console.log("Error", e);
                    }
                });
            };

            $(document).on('click', '.addlevel', function (event) {
                event.preventDefault();
                $('#exampleAddCategoryModal').modal();

                $('.btnUpdateLevel').removeClass('btnUpdateLevel').addClass('btnSaveLevel');
                $('#id').val('');
                $('#name').val('');
                // $('#course').val('');
            });

            $(document).on('click', '.btnSaveLevel', function (event) {
                event.preventDefault();
                console.log("hello");
                ajaxPost();
            });
            function ajaxPost() {
                var formData = new FormData($('.addForLevel')[0]);
                console.log(formData)
                $.ajax({

                    type: "POST",
                    contentType: false,
                    url: "http://localhost:8888/api/level/save",
                    enctype: "multipart/form-data",
                    data: formData,
                    processData: false,
                    success: function (reponse) {
                        window.location.reload();
                        alert("Add success");

                    },
                    error: function (e) {
                        alert("Error");

                    }

                });
            };

            $(document).on('click', '.updateLevel', function (event) {
                event.preventDefault();

                var id = $(this).parent().find('input').val();

                var href = "http://localhost:8888/api/level/" + id;
                console.log(id + href);
                $.get(href, function (level, status) {
                    $('#id').val(level.id);
                    $('#name').val(level.name);
                    // $('#course').val(level.course.name);
                })
                $('#exampleAddCategoryModal').modal();
                $('.btnSaveLevel').removeClass('btnSaveLevel').addClass('btnUpdateLevel');
            });
        });
        $(document).on('click', '.btnUpdateLevel', function (event) {
            event.preventDefault();
            ajaxPut();

        })

        function ajaxPut() {
            var formData = new FormData($('.addForLevel')[0]);
            console.log(formData)
            $.ajax({

                type: "PUT",
                contentType: false,
                url: "http://localhost:8888/api/level/update",
                enctype: "multipart/form-data",
                data: formData,
                processData: false,
                success: function (reponse) {
                    window.location.reload();
                    alert("Update success");

                },
                error: function (e) {
                    alert("Error");

                }

            });
        };

        $(document).on('click', '.deleteLevel', function () {


            var id = $(this).parent().find('input').val();

            var href = "http://localhost:8888/api/level/delete/" + id;
            var confirmDelete = confirm("Are you sure to delete the level?");
            if (confirmDelete) {
                $.ajax({
                    type: "DELETE",
                    url: href,
                    success: function () {
                        window.location.reload();
                        alert("Delete Success");

                    },
                    error: function () {
                        alert("Delete Faiil");
                    }
                });
            }

        });
    </script>
</body>

</html>