<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragment/fragments::header}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Sidebar-->
    <ul th:replace="~{fragment/fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragment/fragments::topbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleAddCategoryModal"
                    data-whatever="@mdo">Add new question
            </button>

            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                  action="/uploadex" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".xlsx, .xls">
                <select id="product_categories" name="idLevel"
                        class="form-control">

                    <option th:value="null">-SELECT-</option>
                    <option th:each="category : ${level}" th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
                <input type="submit" value="Upload">
            </form>

            <p th:if="${size == 0}">No question</p>
            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}">
                </p>
            </div>
            <div th:if="${error}" class="text-center alert alert-danger">
                <p th:text="${error}"></p>
            </div>

            <table class="table table-striped" th:if="${size > 0}">
                <thead>
                <tr>
                    <th scope="col">Question Index</th>
                    <th scope="col">Question Type</th>
                    <th scope="col">Question</th>
                    <th scope="col">Option 1</th>
                    <th scope="col">Option 2</th>
                    <th scope="col">Option 3</th>
                    <th scope="col">Option 4</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Level</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="users : ${questions}">
                    <th scope="row" th:text="${users.id}"></th>
                    <td th:text="${users.type}"></td>
                    <td th:text="${users.question}"></td>
                    <td th:text="${users.option1}"></td>
                    <td th:text="${users.option2}"></td>
                    <td th:text="${users.option3}"></td>
                    <td th:text="${users.option4}"></td>
                    <td th:text="${users.answer}"></td>
                    <td th:text="${users.level.name}"></td>

                    <td>
                        <a id="editButton" th:href="@{/findById(id = ${users.id})}"
                           class="btn btn-primary">Update</a>
                    </td>
                    <td>
                        <a th:if="${users.id} == true" th:href="@{/enable-users(id = ${users.id})}"
                           class="btn btn-primary">Enable</a>
                        <a th:href="@{/delete-questions(id = ${users.id})}" class=" btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{fragment/fragments::footer}"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragment/fragments::scroll}"></a>

<!--Add Categories Modal-->
<div class="modal fade" id="exampleAddCategoryModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleAddCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleAddCategoryModalLabel">New Questions</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/save-questions}" method="post" th:object="${questionDto}"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="name" class="col-form-label">Type:</label>
                            <!-- File Button -->
                            <select id="product_categories" th:field="*{type}" name="product_categories"
                                    class="form-control">
                                <option th:value="Listening">-Listening-</option>
                                <option th:value="Reading">-Reading-</option>
                                <option th:value="Writing">-Writing-</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Question :</label>
                        <input type="text" class="form-control" id="name" th:field="*{question}" name="question">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Option 1 :</label>
                        <input type="text" class="form-control" id="name" th:field="*{option1}" name="option1">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Option 2 :</label>
                        <input type="text" class="form-control" id="name" th:field="*{option2}" name="option2">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Option 3 :</label>
                        <input type="text" class="form-control" id="name" th:field="*{option3}" name="option3">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Option 4 :</label>
                        <input type="text" class="form-control" id="name" th:field="*{option4}" name="option4">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Answer :</label>
                        <input type="text" class="form-control" id="name" th:field="*{answer}" name="answer">
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="name" class="col-form-label">Level:</label>
                            <!-- File Button -->
                            <select id="product_categories" th:field="*{level}" name="product_categories"
                                    class="form-control">
                                <option th:value="null">-SELECT-</option>
                                <option th:each="category : ${level}" th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--End-->

<!-- Edit Category Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/update-category}" method="put">
                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">ID
                        </label> <input type="text" class="form-control" id="idEdit" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Category
                            Name</label> <input type="text" class="form-control" id="nameEdit" name="name">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End -->
<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragment/fragments::script}"></div>

<script th:src="@{/js/categories.js}"></script>
</body>

</html>