<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragment/fragments::header}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!--Sidebar-->
        <ul th:replace="~{fragment/fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragment/fragments::topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <a th:href="@{/register}" class="btn btn-primary">Create account</a>
                <p th:if="${size == 0}">No user</p>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}">
                    </p>
                </div>
                <div th:if="${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>

                <table class="table table-striped danhMucTable " th:if="${size > 0}">
                    <thead>
                        <tr>
                            <th scope="col">User Index</th>

                            <th scope="col">ID Login</th>
                            <th scope="col">User Name</th>
                            <th scope="col">User Address</th>
                            <th scope="col">User Phone</th>
                            <th scope="col">Action</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr th:each="users : ${usersss}">
                            <th scope="row" th:text="${users.id}"></th>
                            <td th:text="${users.lgid}"></td>
                            <td th:text="${users.username}"></td>
                            <td th:text="${users.address}"></td>
                            <td th:text="${users.phone}"></td>
                            <td th:if="${users.username !='Admin'}">
                                <a id="g" th:href="@{/update-user/{id}(id = ${users.id})}"
                                    class="btn btn-primary">Update</a>
                            </td>
                            <td th:if="${users.username !='Admin'}">
                                <a th:if="${users.id} == true" th:href="@{/enable-users(id = ${users.id})}"
                                    class="btn btn-primary">Enable</a>
                                <a th:if="${users.id}" th:href="@{/delete-users(id = ${users.id})}"
                                    class=" btn btn-danger">Delete</a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>

                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{fragment/fragments::footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragment/fragments::scroll}"></a>


    <!-- End -->
    <!-- Bootstrap core JavaScript-->
    <div th:replace="~{fragment/fragments::script}"></div>

    <script th:src="@{/js/categories.js}"></script>
    <script>
        $(document).ready(function () {
            ajaxGet();
            function ajaxGet() {

                $.ajax({
                    type: "GET",
                    url: "http://localhost:8888/api/users/",
                    success: function (result) {
                        $.each(result, function (i, users) {
                            var UsersRow = '<tr style="text-align: center;">' +
                                '<td width="20%">' + users.id + '</td>' +
                                '<td>' + users.name + '</td>' +

                                // '<td>' + eclass.level.name + '</td>' +
                                // '<td>' + eclass.start + '</td>' +
                                // '<td>' + eclass.idGV + '</td>' +
                                '<td>' + '<input type="hidden" value=' + users.id + '>'
                                + '<button class="btn btn-primary updateUsers" >Cập nhật</button>' +
                                '   <button class="btn btn-danger deleteUsers">Xóa</button></td>'
                            '</tr>';

                            $('.danhMucTable tbody').append(UsersRow);
                        });
                    },
                    error: function (e) {
                        alert("Error: ", e);
                        console.log("Error", e);
                    }
                });
            };
        });
    </script>

</body>

</html>