<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/fragment::header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearning</title>
</head>

<body>
<div th:replace="fragment/fragment::spinner"></div>
<nav th:replace="fragment/fragment::sidebar"></nav>

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Về chúng tôi</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Giới thiệu</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4" style="height: 380px;">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Giảng viên có tay nghề cao</h5>
                        <p>Đội ngũ giáo viên chuyên môn giỏi, xuất thân từ các các trường học uy tín hàng đầu quốc tế
                            hoặc trường ngoại ngữ có tiếng tại Việt Nam, đồng thời sở hữu chứng chỉ TESOL với phương
                            pháp và kỹ năng giảng dạy chuyên sâu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4" style="height: 380px;">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Báo chí viết về chúng tôi</h5>
                        <p>Báo VnExpress - đối tác nhiều năm với IELTS Fighter đã cùng đưa tin kỷ niệm 6 năm xây dựng và
                            phát triển của IELTS Fighter.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4" style="height: 380px;">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Hệ thống cơ sở</h5>
                        <p>Hiện tại IELTS Fighter đang có hệ thống cơ sở rộng lớn tại Hà Nội, Hồ Chí Minh, Đà Nẵng, Bắc
                            Ninh, Vinh, Bình Dương, Đồng Nai giúp các bạn trên cả nước có cơ hội được trải nghiệm học
                            tập tại IELTS Fighter và cùng chinh phục điểm IELTS cao. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4" style="height: 380px;">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Tài liệu học</h5>
                        <p>Kho học liệu phong phú đang chờ bạn khám phá với các tài liệu IELTS 4 kĩ năng, tài liệu
                            chung...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="Images/ielts fighter.png" alt=""
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Về chúng tôi</h6>
                <h1 class="mb-4">Câu chuyện của IELTS Fighter</h1>
                <p class="mb-4">Từ khát khao lan tỏa tình yêu IELTS tới hành trình 7 năm - 60 cơ sở - chắp cánh cho hàng
                    triệu người chinh phục ước mơ...</p>

                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>7+ năm hoạt động</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>400+ giáo viên tài năng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>300000+ Học viên cán đích
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>350+ Đối tác đồng hành</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>60 Cơ sở trên toàn quốc</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>120000+ Học viên học online
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Đọc thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Khóa học</h6>
            <h1 class="mb-5">Các khóa học</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" style="height: 320px; width: 320px;" src="Images/ielts mất gốc.jpg"
                             alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <!-- <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i
                                    class="fab fa-instagram"></i></a> -->
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5>KHÓA IELTS MẤT GỐC</h5>
                        <h4 style="text-align: justify;" class="mb-0">Dành cho học viên đi từ con số 0 với lộ trình tinh
                            gọn từ cơ bản đến nâng cao, tiết kiệm thời gian đạt đầu ra theo cam kết.</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" style="height: 320px; width: 320px;" src="Images/ielts5.png" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">

                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5> KHÓA IELTS ĐẦU RA 6.0 - 6.5 </h5>

                        <h4 style="text-align: justify;" class="mb-0">Lộ trình ngắn gọn, nắm vững các dạng bài, toàn
                            diện sử dụng 4 kỹ năng tiếng Anh một cách tự nhiên.</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" style="height: 320px; width: 320px;" src="Images/ielts8.jpg" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">

                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5> KHÓA IELTS ĐẦU RA 6.0 - 6.5 </h5>
                        <h4 style="text-align: justify;" class="mb-0">Đảm bảo đầu ra không kỹ năng nào dưới 6.0 với lộ
                            trình luyện tập liên tục trên lớp & ngoài giờ với giáo viên.</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" style="height: 320px; width: 320px;" src="Images/ielts 7.png" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">

                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5> KHÓA IELTS ĐẦU RA 7.0+ </h5>
                        <h4 style="text-align: justify;" class="mb-0">Học viên thành thạo 4 kỹ năng Nghe Nói Đọc Viết,
                            đảm bảo đầu ra không kỹ năng nào dưới 6.5, tự tin sử dụng tiếng Anh.</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<div th:replace="fragment/fragment::footer"></div>
<div th:replace="fragment/fragment::script"></div>
</body>

</html>