<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment::header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragment::spinner"></div>
    <nav th:replace="fragment::sidebar"></nav>

    <div class="container">
        <div class="py-5 text-center">

            <h2>Add Lesson</h2>

        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 order-md-1">
               
                <form class="needs-validation" novalidate th:action="@{/addexam}"
                    method="post" th:object="${examDto}" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                th:field="*{name}">

                        </div>
                        <div  class="col-md-6 mb-3">
                            <label for="lastName">Start Exam</label>
                            <input type="time" class="form-control" id="lastName" placeholder="" value=""
                                th:field="*{startExam}">

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">End exam</label>
                            <input type="time" class="form-control" id="lastName" placeholder="" value=""
                                th:field="*{endExam}">

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Date Exam</label>
                            <input type="date" class="form-control" id="lastName" placeholder="" value=""
                                th:field="*{dateExam}">

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="lastName">Link</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                th:field="*{link}">

                        </div>

                        <div class="col-md-4">
                            <!-- File Button -->
                            <select id="product_categories" th:field = "*{eclass}" name="product_categories" class="form-control">
                                <option th:value = "null">-SELECT-</option>
                                <option th:each = "category : ${eclass}"
                                        th:value = "${category.id}"
                                        th:text = "${category.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <!-- File Button -->
                            <select id="product_categories" th:field = "*{idTopic}" name="product_categories" class="form-control">
                             
                                <option th:each = "category : ${topic}"
                                        th:value = "${category.id}"
                                        th:text = "${category.name}">
                                </option>
                            </select>
                        </div>
                        
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragment::footer"></div>
    <div th:replace="fragment::script"></div>
</body>

</html>