<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment::header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragment::spinner"></div>
    <nav th:replace="fragment::sidebar"></nav>
    <div class="col-12">
        <div class="card border rounded-3">
            <!-- Card header START -->
            <div class="card-header border-bottom">
                <h3 class="mb-0">Curriculum</h3>
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">
                <div class="row g-5">
                    <!-- Lecture item START -->
                    <div class="col-12">
                        <!-- Curriculum item -->
                        <h5 class="mb-4">Introduction of Digital Marketing (3 lectures)</h5>
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0"><i class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">Introduction</h6>
                                    <p class="mb-2 mb-sm-0 small">10m 56s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">What is Digital Marketing</h6>
                                    <p class="mb-2 mb-sm-0 small">18m 30s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i
                                        class="bi bi-lock-fill"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">Type of Digital Marketing</h6>
                                    <p class="mb-2 mb-sm-0 small">22m 26s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
                        </div>
                    </div>
                    <!-- Lecture item END -->

                    <!-- Lecture item START -->
                    <div class="col-12">
                        <!-- Curriculum item -->
                        <h5 class="mb-4">Customer Life cycle (4 lectures)</h5>
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">What is Digital Marketing</h6>
                                    <p class="mb-2 mb-sm-0 small">10m 56s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">15 Tips for Writing Magnetic Headlines</h6>
                                    <p class="mb-2 mb-sm-0 small">18m 30s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i
                                        class="bi bi-lock-fill"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">How to Write Like Your Customers Talk</h6>
                                    <p class="mb-2 mb-sm-0 small">22m 26s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i
                                        class="bi bi-lock-fill"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">How to Flip Features Into Benefits</h6>
                                    <p class="mb-2 mb-sm-0 small">18m 26s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
                        </div>
                    </div>
                    <!-- Lecture item END -->

                    <!-- Lecture item START -->
                    <div class="col-12">
                        <!-- Curriculum item -->
                        <h5 class="mb-4">What is Search Engine Optimization(SEO) (5 lectures)</h5>
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">How to SEO Optimise Your Homepage</h6>
                                    <p class="mb-2 mb-sm-0 small">18m 21s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">How to Write Title Tags Search Engines Love</h6>
                                    <p class="mb-2 mb-sm-0 small">7m 30s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">SEO Keyword Planning</h6>
                                    <p class="mb-2 mb-sm-0 small">15m 32s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">Internal and External Links</h6>
                                    <p class="mb-2 mb-sm-0 small">17m 30s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                        <!-- Divider -->
                        <hr>

                        <!-- Curriculum item -->
                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                            <div class="d-flex">
                                <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                        class="fas fa-play"></i></a>
                                <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                    <h6 class="mb-0">Measuring SEO Effectiveness</h6>
                                    <p class="mb-2 mb-sm-0 small">25m 30s</p>
                                </div>
                            </div>
                            <!-- Button -->
                            <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                        </div>
                    </div>
                    <!-- Lecture item END -->

                    <!-- Collapse body START -->
                    <div class="collapse mt-0" id="collapseCourse">
                        <!-- Lecture item START -->
                        <div class="col-12 mt-5">
                            <!-- Curriculum item -->
                            <h5 class="mb-4">YouTube Marketing (5 lectures)</h5>
                            <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                            class="fas fa-play"></i></a>
                                    <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                        <h6 class="mb-0">Video Flow</h6>
                                        <p class="mb-2 mb-sm-0 small">25m 20s</p>
                                    </div>
                                </div>
                                <!-- Button -->
                                <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Curriculum item -->
                            <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-danger-soft btn-round mb-0 flex-shrink-0"><i
                                            class="fas fa-play"></i></a>
                                    <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                        <h6 class="mb-0">Webmaster Tool</h6>
                                        <p class="mb-2 mb-sm-0 small">15m 20s</p>
                                    </div>
                                </div>
                                <!-- Button -->
                                <a href="#" class="btn btn-sm btn-success mb-0">Play</a>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Curriculum item -->
                            <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i
                                            class="bi bi-lock-fill"></i></a>
                                    <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                        <h6 class="mb-0">Featured Contents on Channel</h6>
                                        <p class="mb-2 mb-sm-0 small">32m 26s</p>
                                    </div>
                                </div>
                                <!-- Button -->
                                <a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Curriculum item -->
                            <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i
                                            class="bi bi-lock-fill"></i></a>
                                    <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                        <h6 class="mb-0">Channel Analytics</h6>
                                        <p class="mb-2 mb-sm-0 small">18m 20s</p>
                                    </div>
                                </div>
                                <!-- Button -->
                                <a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
                            </div>
                            <!-- Divider -->
                            <hr>

                            <!-- Curriculum item -->
                            <div class="d-sm-flex justify-content-sm-between align-items-center">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-light btn-round mb-0 flex-shrink-0"><i
                                            class="bi bi-lock-fill"></i></a>
                                    <div class="ms-2 ms-sm-3 mt-1 mt-sm-0">
                                        <h6 class="mb-0">Managing Comments</h6>
                                        <p class="mb-2 mb-sm-0 small">20m 20s</p>
                                    </div>
                                </div>
                                <!-- Button -->
                                <a href="#" class="btn btn-sm btn-orange mb-0">Premium</a>
                            </div>
                        </div>
                        <!-- Lecture item END -->
                    </div>
                    <!-- Collapse body END -->

                    <!-- Collapse button -->
                    <a class="mb-0 mt-4 btn-more d-flex align-items-center justify-content-center"
                        data-bs-toggle="collapse" href="#collapseCourse" role="button" aria-expanded="false"
                        aria-controls="collapseCourse">
                        See <span class="see-more mx-1">more</span><span class="see-less mx-1">less</span> video<i
                            class="fas fa-angle-down ms-2"></i>
                    </a>

                </div>
            </div>
            <!-- Card body START -->
        </div>
    </div>

    <div th:replace="fragment::footer"></div>
    <div th:replace="fragment::script"></div>
</body>

</html>